@font-face {
    font-family: 'Bliss2B';
    src: font-url(asset-path("Bliss2B.otf")) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCondensed';
    src: font-url(asset-path("AvenirNextCondensed.ttc")) format('truetype');
    font-weight: normal;
    font-style: normal;
}
