@font-face {
    font-family: 'Bliss2B';
    src: font-url(asset-path("Bliss2B.otf")) format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTProCondensed';
    src: font-url(asset-path("AvenirNextCondensedLight.ttc")) format('truetype');
    font-weight: lighter;
    font-style: normal;
}
