@font-face {
    font-family: 'Bliss2L';
    src: font-url(asset-path("Bliss2L.otf")) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTProCondensed';
    src: font-url(asset-path("AvenirNextLTProCondensed.ttf")) format('truetype');
    font-weight: normal;
    font-style: normal;
}
