.blue-contact-wrapper {
	background-color: #7D98AA;
	color: white;
	padding: 0px 0px 20px 0px;
}
.contact-text {
	span {
		color: #3C2F2C;
	}
	a {
		text-decoration: none;
		color: white;
	}
	p {
		margin: 0;
		margin-top: 5px;
	}
}
.contact-title {
	font-size: 55px;
}
.contact-address {
	padding: 10px 0 21px 0;
}
.contact-img {
	display: flex;
	justify-content: center;
	img {
		width: 650px;
    	height: 525px;
    	margin-top: 20px;
	}
}

#map {
  height: 500px;
  margin: 0;
}
@media only screen and (max-width:682px){
	.contact-img img {
	  width: 80%;
	  height: 80%;
	}
}
