.blue-value-wrapper {
  background-color: #7D98AA;
  padding: 4px 20vw 4px 25vw;
  color: white;
  display: flex;
  align-items: center;
  h1 {
   margin: 0;
   font-size: 130px;
  }
  h4 {
  	margin-bottom: 28px;
  }
}
.what-we-do-wrapper {
	background-color: #ECECEB;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 25px 40px 0 40px;
}
.what-we-do {
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	width: 930px;
	h4 {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	h3 {
		color: #1D5357;
	}
	h5 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h6 {
		font-weight: bold;
		margin-bottom: 50px;
		color: #333333;
	}
	a {
		color: #333333;
		text-decoration: none;
	}
	a:hover {
		color: #DA6024;
	}
}
.what-we-do-margin {
	margin-top: 100px;
}
#what-we-do-link:focus {
  color: white;
}
.what-we-do-links {
  display: flex;
  justify-content: center;
  h5 {
    padding: 0 15px;
    &.active {
      color: #7D98AA;
      font-weight: 800;
    }
    &:hover {
      color: #7D98AA;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width:991px){
  .navbar-addcap-brand img {
    display: none;
  }
}
@media only screen and (max-width:925px){
  .banner-content {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .latest-news-post {
    padding: 10px 10vw 10px 10vw;
  }
  .what-we-do {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width:682px){
  .blue-contact-wrapper {
    padding: 0px;
  }
  .contact-img img {
    width: 500px;
    height: 436px;
  }
  .what-we-do-wrapper {
    padding: 25px 10px 0 10px;
  }
  .what-we-do {
    padding-top: 30px;
    width: 930px;
    h4 {
      padding-top: 20px;
      padding-bottom: 15px;
    }
    h3 {
      color: #1D5357;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-weight: bold;
      margin-bottom: 50px;
      color: #333333;
    }
  }
  .what-we-do-margin {
    margin-top: 100px;
  }
  #what-we-do-link:focus {
    color: white;
  }
  .what-we-do-links {
    display: flex;
    justify-content: center;
    h5 {
      padding: 0 15px;
      &.active {
        color: #7D98AA;
        font-weight: 800;
      }
      &:hover {
        color: #7D98AA;
        cursor: pointer;
      }
    }
  }
  .blue-value-wrapper {
    display: none;
  }
  .arrow {
    display: none;
  }
}






