.blue-value-wrapper {
  background-color: #7D98AA;
  padding: 4px 20vw 4px 25vw;
  color: white;
  display: flex;
  align-items: center;
  h1 {
   margin: 0;
   font-size: 130px;
  }
}
.pressmedia {
	padding-bottom: 30px;
	h2 {
		padding: 20px 20vw 0 25vw;
	}
}
.press-tabs {
	display: flex;
	padding: 0 20vw 0 25vw;
	h5 {
		padding-right: 35px;
	}	
}
.dotted-line {
	border-bottom: #392F2C dotted 2px;
	margin: 0 20vw 10px 25vw;
}
.latest-news-post {
	display: flex;
	padding: 0 20vw 0 25vw;
	h6 {
		font-size: 10px;
		font-weight: bold;
	}
	p {
		font-size: 12px;
		color: #C1B1AA;
	}
}
.latest-news-post:hover {
	background-color: #392F2C;
	.news-date {
		h5 {
			color: white;
		}
	}
	.news-title {
		h6 {
			color: white;
		}
	}
}
.news-title {
	h5 {
		color: #DA6024;
	}
}
.news-date {
	width: 435px;
    margin-right: 85px;
}
.what-we-do-wrapper {
	background-color: #ECECEB;
}
.what-we-do {
	padding: 30px 25vw 20px 25vw;
	h4 {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	h3 {
		color: #1D5357;
	}
	h5 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h6 {
		font-size: 10px;
		font-weight: bold;
	}
}
.blue-contact-wrapper {
	background-color: #7D98AA;
	color: white;
	padding: 20px;
}
.contact-text {
	span {
		color: #3C2F2C;
	}
	a {
		text-decoration: none;
		color: white;
	}
	p {
		margin: 0;
	}
}
.contact-address {
	padding: 10px 0 21px 0;
}
.contact-img {
	display: flex;
	justify-content: center;
	img {
		width: 450px;
    	height: 350px;
    	margin-top: 20px;
	}
}
.spacer {
	height: 40px;
}



