.team-boxes {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.team-box {
	background-color: #F2F1F1;
	width: 255px;
	height: 443px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	.pointer{
		cursor: pointer;
	}
	img {
		margin-left: 10px;
		margin-top: 10px;
		width: 92%;
	}
	a {
		color: #DA6024;
		text-decoration: underline;
		font-size: 14px;
	}
	p {
		margin-left: 10px;
	}
}
.team-text {
	span {
		font-size: 14px;
    	margin-left: 10px;
	}
	a {
		color: #392F2C;
	}
}
#empty-div {
	height: 20px;
}
.team-name {
	font-size: 25px;
	margin-top: 12px;
	margin-bottom: 0;
}
.team-title {
	font-size: 16px;
	margin-bottom: 30px;
}
.team-row-two {
	margin-bottom: 40px;
}
.team-lg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h5 {
		padding-top: 10px;
	}
}
.team-lg-image {
	background-color: #7D98AA;
	width: 100%;
	img {
		width: 806px;
    	height: auto;
	}
}
.team-lg-text {
	width: 806px;
 	height: auto;
 	padding-left: 15px;
 	padding-right: 20px;
 	h4 {
 		margin-top: 14px;
 		margin-bottom: 4px;
 	}
 	h6 {
 		margin-top: 0;
 	}
 	p {
		span {
      a {
      	color: #DA6024;
      	text-decoration: underline;
      }
    }
 	}
	a {
		color: #392F2C;
	}
}
.team-name-lg {
	color: #DA6024;
	font-size: 40px;
	margin-top: 20px;
}
.team-title-lg {
	font-size: 22px;
	margin-bottom: 40px;
}
.team-intro-lg {
	font-size: 20px;
	margin-bottom: 20px;
}
.team-para-lg {
	font-size: 20px;
	margin-bottom: 40px;
	line-height: 22px;
}
@media only screen and (max-width:845px){
	.team-lg-text {
	    width: 100%;
	}
	.team-lg-image img {
    	width: 100%;
   	}
   	.team-boxes {
    	flex-direction: column;
    	align-items: center;
   	}
   	.team-row-two {
   		margin-top: 0;
   		margin-bottom: 0;
   	}
   	.team-row-three {
   		margin-top: 0;
   	}
   	.team-box {
   		margin-top: 10px;
   	}
}






