.case-studies-tabs {
	display: flex;
	justify-content: center;
	h5 {
		padding: 17px;
	}
	a {
		color: #392F2C;
		text-decoration: none;
    &.active {
      color: #7D98AA;
      font-weight: 800;
    }
	}
	a:hover {
		color: #7D98AA;
	}
	span {
		text-decoration: underline;
		a {
			color: #7D98AA;
		}
	}
}
.case-studies-wrapper {
	background-color: #E9E9E8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.case-studies-boxes-top {
	display: flex;
	justify-content: center;
	width: auto;
}
.case-studies-boxes-bottom {
	display: flex;
	justify-content: center;
	width: auto;
	margin-top: 4px;
}
.case-studies-box {
	position: relative;
	background-color: #7D98AA;
	width: 300px;
    min-height: 420px;
	margin: 0 2px;
	z-index:0;
	img {
		position: absolute;
		top: 25px;
		left: 17px;
		right: 17px;
		width: 88%;
		height: 200px;
	}
}
.case-study-box-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.case-studies-box:hover {
	.case-study-box-overlay {
		display: block;
	}
}
.case-studies-text {
	position: absolute;
	padding-right: 10px;
	top: 240px;
	left: 17px;
	color: white;
	p {
		margin-bottom: 22px;
	}
	h6 {
		font-size: 14px;
		font-weight: bold;
	}
}
.case-studies-title {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.prop-box-bottom {
	margin-top: 4px;
}
.case-study-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.read-more {
	position: absolute;
	bottom: -45px;
}
.case-study-lg {
	width: 892px;
  height: 420px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-ms-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
    &.active {
      opacity: 1;
      display: block;
    }
}
.case-study-lg-box {
	background-color: #FFFFFF;
	display: flex;
	img {
    width: auto;
		height: 350px;
	}
	p {
		font-size: 15px;
	}
}
.case-study-lg-title {
	padding-top: 5px;
	color: #7D98AA;
	font-size: 30px;
	margin-bottom: 15px;
}
.case-study-lg-right {
	padding-left: 15px;
	width: 800px;
  height: 340px;
  overflow: scroll;
	h6 {
		font-size: 18px;
	}

	span {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	p {
		margin-top: 20px;
	}
}
.case-studies-lg {
  position: relative;
  height: 420px;
  width: 940px;
}
@media only screen and (max-width:1366px){
	.case-study-wrapper {
		align-items: center;
	}
}
@media only screen and (max-width:1123px){
	.case-study-lg-box img {
	    height: 280px;
	}
	.case-study-lg-right {
		width: 40vw;
		p {
		    margin-top: 20px;
		    width: 35vw;
		 }
	}
	.case-studies-lg {
    	width: 876px;
    }
	.case-study-wrapper {
		flex-direction: column;
	}
	.prop-arrow-right {
		display: none;
	}
	.prop-arrow-left {
		display: none;
	}
}
@media only screen and (max-width:946px){
	.case-studies-boxes-top {
    	flex-wrap: wrap;
    }
	.case-studies-boxes-bottom {
		flex-wrap: wrap;
		margin-top: 0;
	}
	.case-studies-box {
		margin-bottom: 4px;
	}
    .case-study-lg-box {
    	img {
	    	height: 280px;
		}
	}
}
@media only screen and (max-width:876px){
	.case-study-lg-box {
		width: 400px;
		flex-direction: column;
		img {
		    height: auto;
    		width: 70vw;
		 }
	}
	.case-study-lg-right {
	    width: 80vw;
    	margin-top: 20px;
    	padding-left: 0;
	 	p {
    		width: 80vw;
    	}
    }
    .case-studies-lg {
    	height: 141vh;
    	width: 80vw;
	}
	.case-study-lg {
  	width: 80vw;
    height: 141vh;
  }
	.case-study-lg-title {
		width: 80vw;
	}
}
@media only screen and (max-width:682px){
	.case-studies-wrapper {
		background-color: white;
	}
	.case-studies-tabs {
		flex-direction: column;
    align-items: center;
    padding: 10px 0;
    h5 {
    	padding: 0;
    	margin: 0;
    }
	}

  .case-study-wrapper{
    margin-top: 25px;
  }
	.case-study-lg-right {
    text-align: center;
  }

  .case-study-lg {
    display: flex;
    flex-direction: column;
    margin: 0;
    p {
      text-align: center;
    }
  }

  .case-study-lg-box {
    width: 100%;
    align-items: center;
  }
}



