.case-studies-tabs {
	display: flex;
	justify-content: center;
	h5 {
		padding: 17px;
	}
	a {
		color: #392F2C;
		text-decoration: none;
    &.active {
      color: #7D98AA;
      font-weight: 800;
    }
	}
	a:hover {
		color: #7D98AA;
	}
	span {
		text-decoration: underline;
		a {
			color: #7D98AA;
		}
	}
}
.case-studies-wrapper {
	background-color: #E9E9E8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.case-studies-boxes-top {
	display: flex;
	justify-content: center;
	width: auto;

}
.case-studies-boxes-bottom {
	display: flex;
	justify-content: center;
	width: auto;
	margin-top: 4px;
}
.case-studies-box {
	position: relative;
	background-color: #7D98AA;
	width: 300px;
    height: 350px;
	margin: 0 2px;
	z-index:0;
	img {
		position: absolute;
		top: 25px;
		left: 17px;
		right: 17px;
		width: 88%;
	}
}
.case-study-box-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.case-studies-box:hover {
	.case-study-box-overlay {
		display: block;
	}
}
.case-studies-text {
	position: absolute;
	top: 140px;
	left: 17px;
	color: white;
	h5 {
		margin-bottom: 9px;
	}
	p {
		margin-bottom: 8px;
	}
}
.prop-box-bottom {
	margin-top: 4px;
}
.case-study-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.case-study-lg {
	width: 892px;
	margin-left: 40px;
	margin-right: 40px;
    margin-top: 20px;
    display: none;
    &.active {
      display: block;
    }
}
.case-study-lg-box {
	background-color: #FFFFFF;
	display: flex;
	h5 {
		padding-top: 5px;
	}
	img {
		width: 300px;
    	height: 250px;
	}
	p {
		font-size: 15px;
	}
}
.case-study-lg-right {
	padding-left: 15px;
}





