.pressmedia {
	position: relative;
	padding-bottom: 30px;
	height: 100%;
	h2 {
		padding: 20px 20vw 0 25vw;
		margin-bottom: 0;
	}
}
.press-tabs {
	display: flex;
	padding: 11px 20vw 0 25vw;
	h5 {
		padding-right: 35px;

	}
	a {
		text-decoration: none;
		color: #392F2C;
     &.active {
      color: #DA6024;
      text-decoration: underline;
    }
	}
	a:hover {
		color: #DA6024;
		text-decoration: underline;
	}
}
.home-press-tabs {
  display: flex;
  padding: 11px 20vw 0 25vw;
  h5 {
    padding-right: 35px;

  }
  a {
    text-decoration: none;
    color: #392F2C;
     &.active {
      color: #DA6024;
      text-decoration: underline;
    }
  }
  a:hover {
    color: #DA6024;
    text-decoration: underline;
  }
}
.dotted-line {
	border-bottom: #392F2C dotted 2px;
	margin: 0 20vw 10px 25vw;
}
.latest-news-post {
	display: flex;
	padding: 10px 20vw 10px 25vw;
	margin-top: -22px;
	margin-bottom: -22px;
	h6, a {
		font-weight: bold;
		text-decoration: none;
		color: #392F2C;
	}
	p {
		color: #C1B1AA;
		font-stretch: ultra-condensed;
	}
}
.latest-news-post:hover {
	background-color: #392F2C;
	a {
		color: white;
	}
	.news-date {
		p {
			color: white;
			font-size: 20px;
		}
	}
	.news-title {
		h6 {
			color: white;
			font-size: 14px;
		}
	}
}
.news-snippet {
	width: 1300px;
}
.news-title {
	h6 {
		margin-top: 10px;
		font-size: 14px;
	}
	span {
		color: #DA6024;
		font-size: 20px;
	}
}
.news-date p {
    width: 160px;
    margin-right: 60px;
    color: #392F2C;
	font-size: 20px;
}
.full-news {
	width: 500px;
	color: white;
	h6 {
		color: #DA6024;
	}
}
.news-archive {
  display: flex;
  flex-direction: column;
      padding-left: 50vw;
}
.year {
  width: 500px;
  border-bottom: 1px solid #B2A7A2;
  padding: 10px 0;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
