.pressmedia {
	position: relative;
	padding-bottom: 30px;
	height: 100%;
}
.press-title {
	padding: 20px 20vw 0 25vw;
	margin-bottom: 0;
	font-size: 55px;
	margin-top: 35px;
}
.press-tabs {
	display: flex;
	padding: 11px 20vw 0 25vw;
	p {
		padding-right: 35px;
		font-size: 25px;
		padding-top: 20px;
	}
	a {
		text-decoration: none;
		color: #392F2C;
     &.active {
      color: #DA6024;
      text-decoration: underline;
    }
	}
	a:hover {
		color: #DA6024;
		text-decoration: underline;
	}
}
hr {
	margin-top: 22px;
	margin-bottom: 22px;
	color: #392F2C;
}
.home-press-tabs {
  display: flex;
  padding: 18px 20vw 0 25vw;
  h5 {
    padding-right: 35px;

  }
  a {
    text-decoration: none;
    color: #392F2C;
     &.active {
      color: #DA6024;
      text-decoration: underline;
    }
  }
  a:hover {
    color: #DA6024;
    text-decoration: underline;
  }
}
.dotted-line {
	border-bottom: #392F2C dotted 2px;
	margin: 0 20vw 10px 25vw;
}
.latest-news-post {
	display: flex;
	padding: 10px 20vw 10px 25vw;
	margin-top: -22px;
	margin-bottom: -22px;
	a {
		font-weight: bold;
		text-decoration: none;
		color: #392F2C;
	}
	p {
		color: #C1B1AA;
		font-stretch: ultra-condensed;
		line-height: 18px;
		margin-top: 10px;
	}
	li {
		color: #C1B1AA;
		font-stretch: ultra-condensed;
		line-height: 18px;
		margin-top: 10px;
	}
	a:hover {
		text-decoration: underline;
		color: white;
	}
}
.latest-news-post:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #392F2C;
	a {
		color: #C1B1AA;
	}
	.news-date {
		p {
			color: white;
			font-size: 20px;
		}
	}
	.news-title {
		h6 {
			color: white;
			font-size: 13px;
			margin-top: 20px;
		}
	}
	#read-more-color {
		color: white;
		a {
			color: white;
		}
	}
	#close-color {
		color: white;
		a {
			color: white;
		}
	}
}
.archive-news-post {
  display: flex;
  padding: 10px 50px 10px 25px;
  margin-top: -22px;
  margin-bottom: -22px;
  h6, a {
    font-weight: bold;
    text-decoration: none;
    color: #392F2C;
  }
  p {
    color: #C1B1AA;
    font-stretch: ultra-condensed;
    line-height: 18px;
    margin-top: 10px;
  }
}
.archive-news-post:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #392F2C;
  a {
    color: white;
  }
  .news-date {
    p {
      color: white;
      font-size: 20px;
    }
  }
  .news-title {
    h6 {
      color: white;
      font-size: 13px;
      margin-top: 20px;
    }
  }
}
.news-snippet {
	width: 80%;
}
.news-title {
	h6 {
		margin-top: 10px;
		font-size: 13px;
		margin-top: 20px;
	}
	span {
		color: #DA6024;
		font-size: 20px;
	}
}
.news-date p {
    width: 160px;
    margin-right: 60px;
    color: #392F2C;
	font-size: 20px;
}
.full-news {
	width: auto;
	color: white;
	img {
		width: 480px;
    	height: 300px;
	}
	h6 {
		color: #DA6024;
	}
  br {
    margin-bottom: 20px;
  }
}
.news-archive {
  display: flex;
  width: 80vw;
  .years-tabs {
    flex: 0 0 15vw;
    margin-top: 20px;
    padding-left: 40px;
    font-size: 25px;
  }
  .news-by-year {
    flex: 0 0 85vw;
  }
}
.year {
  width: 100px;
  padding: 10px 0;
  justify-content: center;
  display: flex;
  font-size: 20px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &.active {
    text-decoration: underline;
  }
}

@media only screen and (max-width:925px){
  .banner-content {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .latest-news-post {
    padding: 10px 10vw 10px 10vw;
  }
}
@media only screen and (max-width:670px){
  .latest-news-post {
    flex-direction: column;
  }
  .latest-news-post:hover {
    .news-date p {
      width: auto;
      margin-right: 10px;
      font-size: 18px;
    }
  }
  .news-date p {
    width: auto;
    margin-right: 10px;
    font-size: 18px;
  }
  .latest-news-post {
    padding: 10px 0px 10px 32px;
  }
  .home-press-tabs {
    padding: 0;
    flex-direction: column;
    h5 {
      margin: 0 0 0 30px;
      font-size: 22px;
      letter-spacing: 1px;
    }
  }
  .dotted-line {
    display:none;
  }
  .press-title {
    padding: 20px 10px 0 32px;
    margin-bottom: 20px;
    font-size: 45px;
    margin-top: 0;
    width: auto;
  }
}
