.pressmedia {
	position: relative;
	padding-bottom: 30px;
	min-height: 50vh;
	h2 {
		padding: 20px 20vw 0 25vw;
		margin-bottom: 0;
	}
}
.press-tabs {
	display: flex;
	padding: 11px 20vw 0 25vw;
	h5 {
		padding-right: 35px;
	}	
	span {
		a {
			color: #DA6024;
			text-decoration: underline;
		}
	}
	a {
		text-decoration: none;
		color: #392F2C;
	}
	a:hover {
		color: #DA6024;
		text-decoration: underline;
	}
}
.dotted-line {
	border-bottom: #392F2C dotted 2px;
	margin: 0 20vw 10px 25vw;
}
.latest-news-post {
	display: flex;
	padding: 10px 20vw 10px 25vw;
	margin-top: -22px;
	margin-bottom: -22px;
	h6, a {
		font-size: 10px;
		font-weight: bold;
		text-decoration: none;
		color: #392F2C;
	}
	p {
		font-size: 12px;
		color: #C1B1AA;
		font-stretch: ultra-condensed;
	}
}
.latest-news-post:hover {
	background-color: #392F2C;
	a {
		color: white;
	}
	.news-date {
		h5 {
			color: white;
		}
	}
	.news-title {
		h6 {
			color: white;
		}
	}
}
.news-snippet {
	width: 1300px;
}
.news-title {
	h5 {
		color: #DA6024;
	}
}
.news-date h5 {
    width: 125px;
    margin-right: 60px;
}
.full-news {
	width: 500px;
	color: white;
	h6 {
		color: #DA6024;
	}
}