<div class="contact-text text-center">
	<p class="contact-address">6 Heddon Street, London, W1B 4BT</p>
	<p><span>T: </span>+44 (0)20 7042 9250</p>
	<p><span>E: </span><%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %></p>
</div>
<!-- <div class="contact-img">
	<%#= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497284012/Screen_Shot_2017-06-12_at_17.12.41_sbvmpp.png" %>
</div> -->
<div id="map" style="height: 400px;"></div>
