<div class="latest-news-post">
	<div class="news-date">
		<h5>Posted in News on 12 Jun, 2017</h5>
	</div>
	<div class="news-snippet">
		<div class="news-title">
			<h5>Europa Capital and Addington Capital entice new anchor tenant to the Quadrant, Abingdon Science Park, Oxfordshire</h5>
			<p>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</p>
			<h6>[ READ MORE... ]</h6>
		</div>
	</div>
</div>