<hr>
<div class="latest-news-post">
	<div class="news-date">
		<h5>Posted in News on 12 Jun, 2017</h5>
	</div>
	<div class="news-snippet">
		<div class="news-title">
			<h5>Europa Capital and Addington Capital entice new anchor tenant to the Quadrant, Abingdon Science Park, Oxfordshire</h5>
			<div class="news-brief">
				<p>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</p>
				<h6><%= link_to "[ READ MORE... ]", "#", id: "news-read-more" %></h6>
			</div>
			<div class="full-news hidden slideDown">
				<p>Addington Capital, the investment and asset management company, in partnership withthe shopping centre owner EPISO, a fund advised by Tristan Capital Partners, announces the following lettings at its Charter Walk Shopping Centre in Burnley:<br></br>
				• Primark is taking 40,000 sq ft on Curzon Street, next door to Next on a new 15 year lease. This space was previously occupied by Wilko.
				<br></br>
				• Wilko is relocating to 24 The Mall, taking circa 12,000 sq ft with a new 10 year lease. This space was previously occupied by Poundland (former 99p store).
				<br></br>
				• Poundland will consolidate from their current two stores into their circa 4,000 sq ft unit in Market Square on a new 10 year lease.
				Addington acquired the circa 250,000 sq ft Charter Walk Shopping Centre in a joint venture in March 2011 and has been actively redeveloping and asset managing the scheme ever since.
				Alex Wagstaff, Partner at Addington Capital said, “We have kept an ongoing dialogue with Primark since we took ownership of the centre and this has always been a target retailer for us, so we are delighted we can now offer them suitable premises. Primark is one of the leading retailers on the high street in the UK and securing them in Burnley for the long term is great news for the town centre.”
				<br></br>
				He continued, “ With Wilko and Poundland also securing their long term future in the centre, we think these lettings will strengthen Burnley’s retail offer and increase the already good level of retailer demand for the town.”
				<br></br>
				Stephen Proudly of Lambert Smith Hampton, retail agents on the deal said, “Primark’s longstanding requirement has been satisfied through a diligent and collaborative approach by all parties and will ensure the continued success of Charter Walk and Burnley town centre. Primark, situated alongside the upsized Next, was a long held target of the leasing team and will help transform Curzon Street, with a new Wilko store anchoring the St James Street entrance to the Centre.”
				<br></br>
				He continued: “We see the development of the town centre into a sub-regional centre as a key part of our long term vision for Burnley. That is why we have not only supported this development but also jointly invested over £3 million with Lancashire County Council into improving public realm in the town, as well as removing the redundant former cinema block, open market and ramp adjoining the market square which will be demolished in the next twelve months.”
				<br></br>
				Councillor Sue Graham, Executive Member for Regeneration and Economic development said: “It’s great news that Primark have decided to come to Burnley. Their addition to our town centre offer will have a major impact on the town and we look forward to the store opening. This move demonstrates real confidence in Burnley.”
				<br></br>
				Retail agents on the scheme are Stephen Proudley and Richard Lyons of Lambert Smith Hampton and Gary Crompton of Barker Proudlove.
				<br>Posted in News on 05 Dec, 2016</p>
				<h6><%= link_to "[ CLOSE ]", "#", id: "news-close" %></h6>
			</div>
		</div>
	</div>
</div>
<hr>