<div class="pages-banner contact-banner">
	<div class="pages-banner-content">
		<h5><%= link_to "" do %>
			<i class= "fa fa-twitter"></i>
			<i class= "fa fa-instagram"></i>
			<i class= "fa fa-facebook"></i>
		<% end %>
		</h5>
		<h2>CONTACT US</h2>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
		<%= render 'pages/contact_details' %>
	</div>
</div>
<div class="spacer"></div>

