<div class="banner-landing">
	<div class="banner-content">
		<h1>Addington Capital:</h1>
		<h3>Flurry of Investment Sales shows growing
		demand for commercial property from HNW’s</h3>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ab dolore voluptas. Inventore earum officiis, tempore.</h4>
	    <h5>23rd Jan 2017</h5>
	    <h6>[ READ MORE ]...</h6>
		<h5><%= link_to "" do %>
			<i class= "fa fa-twitter"></i>
			<i class= "fa fa-instagram"></i>
			<i class= "fa fa-facebook"></i>
		<% end %>
		</h5>
	</div>
</div>
<div class="blue-wrapper">
	<h1>£<%= @transaction.value %>M</h1>
	<h4>VALUE OF<br>TRANSACTIONS<br>TO DATE</h4>
</div>
