<div class="banner-landing">
	<div class="banner-content">
		<h1>Addington Capital:</h1>
		<h3>Flurry of Investment Sales shows growing
		demand for commercial property from HNW’s</h3>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ab dolore voluptas. Inventore earum officiis, tempore.</h4>
	    <h5>23rd Jan 2017</h5>
	    <h6>[ READ MORE ]...</h6>
		<h5><%= link_to "" do %>
			<i class= "fa fa-twitter"></i>
			<i class= "fa fa-instagram"></i>
			<i class= "fa fa-facebook"></i>
		<% end %>
		</h5>
	</div>
</div>
<div class="blue-value-wrapper">
	<h1>£<%= @transaction.value %>M</h1>
	<h4>VALUE OF<br>TRANSACTIONS<br>TO DATE</h4>
</div>

<div class="pressmedia">
	<h2>PRESS & MEDIA</h2>
	<div class="press-tabs">
		<h5><%= link_to "LATEST NEWS", "" %></h5>
		<h5><%= link_to "NEWS ARCHIVE", "" %></h5>
	</div>
	<div class="latest-news">
		<div class="dotted-line"></div>
		<div class="latest-news-post">
			<div class="news-date">
				<h5>Posted in News on 12 Jun, 2017</h5>
			</div>
			<div class="news-snippet">
				<div class="news-title">
					<h5>Europa Capital and Addington Capital entice new anchor tenant to the Quadrant, Abingdon Science Park, Oxfordshire</h5>
					<p>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</p>
					<h6>[ READ MORE... ]</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="what-we-do-wrapper">
	<div class="what-we-do text-center">
		<h1>WHAT WE DO</h1>
		<h4>Addington adopts a research led approach to the macroeconomic factors affecting its investment decisions and a bottom up analysis of specific projects.</h4>
		<h3>RESIDENTIAL</h3>
		<h5>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</h5>
		<h6>[ VIEW CASE STUDIES... ]</h6>
	</div>
</div>








