// Your footer style
.spacer {
	height: 30px;
	position: relative;
}
.footer {
  width: 100vw;
  height: auto;
  background-color: #B2A7A2;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  a {
		color: white;
		text-decoration: none;
	}
  a:hover {
  	color: #DA6024;
  }
}
.footer-page-links {
	p {
		line-height: 18px;
	}
}
.footer-brochure-img {
	img {
		width: 150px;
	}
}
.footer-brochure {
	width: 67px;
	a {
		text-decoration: underline;
		word-break: break-all;
		margin-right: 10px;
	}
}
.footer-child {
	padding: 0 10px;
	p {
		margin-bottom: 0;
		line-height: 20px;
	}
}
.vertical-line {
	border-left: solid #D8D2CF 1px;
}
.vertical-line-last {
	border-right: solid #D8D2CF 1px;
}

@media only screen and (max-width:825px){
	
}




