// Your footer style
.spacer {
	height: 30px;
	position: relative;
}
.footer {
	width: 100vw;
	height: auto;
	background-color: #B2A7A2;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	font-size: 14px;
	font-weight: lighter;
	a {
		color: white;
		text-decoration: none;
	}
	a:hover {
		color: #DA6024;
	}
}
.footer-page-links {
	p {
		line-height: 18px;
	}
}
.footer-brochure-img {
	img {
		width: 150px;
	}
}
.footer-brochure-img-mob {
	img {
		width: 150px;
	}
}
.footer-brochure {
	width: 67px;
	a {
		text-decoration: underline;
		word-break: break-all;
		margin-right: 10px;
	}
}
.footer-brochure-mob {
	width: 67px;
	a {
		text-decoration: underline;
		word-break: break-all;
		margin-right: 10px;
	}
}
.footer-child {
	padding: 0 10px;
	p {
		margin-bottom: 0;
		line-height: 20px;
	}
}
.vertical-line {
	border-left: solid #D8D2CF 1px;
}
.vertical-line-last {
	border-right: solid #D8D2CF 1px;
}
.mobile {
	display: none;
}
@media only screen and (max-width:704px){
	.footer-brochure-img {
		display: none;
	}
	.vertical-line-hidden-mob {
		display: none;
	}
	.vertical-line-last {
		display: none;
	}
	.sm-icons-footer {
		display: none;
	}
	.footer {
		flex-wrap: wrap;
	}
	.mobile {
		display: block;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.footer-brochure-mob {
		width: 167px;
		margin-top: 30px;
		margin-bottom: 15px;
		text-align: center;
		a {
			text-decoration: underline;
			word-break: none;
			margin-right: 0;
		}
	}
	.sm-icons-footer-mob {
		margin-top: 30px;
	}
}
@media only screen and (max-width:625px){
	.footer {
		p {
			font-size: 14px;
		}
	}
}
@media only screen and (max-width:495px){
	.footer {
		flex-direction: column;
		padding-left: 30px;
		p {
			font-size: 16px;
		}
	}
	.footer-official {
		margin-top: 15px;
	}
	.footer-address {
		margin-top: 15px;
	}
	.mobile {
	    align-items: left;
	}
	.footer-brochure-mob {
		text-align: left;
	}
	.footer-brochure-img-mob {
		padding-left: 0;
	}
}



