.banner-landing {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1496753769/London-skyline-gherkin-thinkstock_lhncnj.jpg') no-repeat top center fixed;
  color: white;
  text-align: left;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.banner-content {
  height: 300px;
  width: 519px;
  h1, h6 {
    color: #DA6024;

  }
  a {
    color: #DA6024;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.more-press-landing {
  position: absolute;
  bottom: 10px;
}
.pages-banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1496753769/London-skyline-gherkin-thinkstock_lhncnj.jpg');
  color: white;
  text-align: center;
  height: calc(25vh);
  margin-top: 100px;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.pages-banner-content {
  height: 100px;
}
.contact-banner {
  margin-bottom: 7px;
}