.banner-landing {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1499875594/image001_yh22fv.jpg') no-repeat top center fixed;
  color: white;
  text-align: left;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.banner-content {
  height: 300px;
  width: 800px;
  h1 {
    font-size: 76px;
    color: #DA6024;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    text-align: justify;
    font-size: 35px;
  }
  a {
    color: #DA6024;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.more-press-landing {
  position: absolute;
  bottom: 10px;
  h6, a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
.pages-banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497632894/Asset_35_xgkkdm.png');
  color: white;
  text-align: center;
  height: calc(25vh);
  margin-top: 100px;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.pages-banner-content {
  height: 100px;
  margin-top: 25px;
  h2 {
    margin-bottom: 0;
    margin-top: 30px;
  }
}
.contact-banner {
  margin-bottom: 7px;
}
@media only screen and (max-width:991px){
  .pages-banner {
    height: 130px;
  }
  .pages-banner-content {
    a {
      display: none;
    }
    h2 {
      margin-top: 0;
      font-size: 46px;
    }
  }
  .more-press-landing {
    display: none;
  }
}
@media only screen and (max-width:595px){
  .banner-content {
    height: auto;
    h4 {
      font-size: 30px;
    }
  }
}


