.social_media_icon {
	width: 20px;
	margin-right: 2px;
}
.sm_icons_footer {
	margin-left: 10px;
	margin-top: 15px;
}
.hand-icon-landing {
	width: 35px;
}
.hand-icon-press {
	display: flex;
	justify-content: center;
	padding-top: 18px;
}
.hand-icn-press {
	position: absolute;
	bottom: 5px;
	width: 35px;
}
.hand-icn-about {
	position: absolute;
	top: -18px;
	width: 40px;
}
.hand-icn-contact {
	position: absolute;
	bottom: -18px;
	width: 40px;
}
.arrow {
	width: 60px;
	height: 60px;
}
.about-arrow {
	margin-top: 174px;
}
.prop-arrow {
	margin-top: 128px;
}