.social-media-icon {
	width: 25px;
	margin-right: 2px;
}
.sm-icons-footer {
	margin-left: 10px;
	margin-top: 15px;
}
.hand-icon-landing {
	width: 35px;
}
.hand-icon-press {
	display: flex;
	left: calc(50% - 25px);
	justify-content: center;
	padding-top: 18px;
}
.hand-icn-press {
	position: absolute;
	left: calc(50% - 25px);
	bottom: 5px;
	width: 35px;
}
.hand-icn-about {
	position: absolute;
	left: calc(50% - 25px);
	top: -18px;
	width: 40px;
}
.hand-icn-contact {
	position: absolute;
	left: calc(50% - 25px);
	bottom: -18px;
	width: 40px;
}
.arrow {
	width: 60px;
	height: 60px;
}
.about-arrow {
	margin-top: 335px;
}
.prop-arrow {
	margin-top: 128px;
}