.social-media-icon {
	width: 30px;
	margin-right: 2px;
}
.sm-icons-footer {
	margin-left: 10px;
	margin-top: 18px;
}
.hand-icon-landing {
	width: 40px;
}
.hand-icon-press {
	display: flex;
	left: calc(50% - 25px);
	justify-content: center;
	padding-top: 40px;
}
.hand-icn-press {
	position: absolute;
	left: calc(50% - 25px);
	bottom: 5px;
	width: 40px;
}
.hand-icn-about {
	position: absolute;
	left: calc(50% - 25px);
	top: -18px;
	width: 45px;
}
.hand-icn-contact {
	position: absolute;
	left: calc(50% - 25px);
	bottom: -18px;
	width: 45px;
}
.arrow {
	width: 60px;
	height: 60px;
}
.about-arrow {
	margin-top: 325px;
}
.prop-arrow-right {
	position: relative;
  top: 180px;
  left: 15px;
}
.prop-arrow-left {
  position: relative;
  top: 180px;
  right: 15px;
}
